
<script setup lang=ts>
import { computed, inject, watch, ref } from "vue"
import type { Ref } from "vue"


import { ReplStore2 } from "src/storeEditor"

const _store = inject('store') as ReplStore2

let store = _store.state

let emit = defineEmits(['showError'])

let props = defineProps<{
    showError: boolean;
    editState: { state: string, c: number }
    //   isDarkMode: boolean
}>()


function toggleShowError() {
    emit('showError', !props.showError)

}


watch(() => store.errors[0], function (v) {
    hasError.value = v !== undefined
})
// var showError = ref(props.showError) // user toggle 
var hasError = ref(false)





function isEditing() {
    return changeStatus.value == 'editing'
}

function toggleDarkMode() {
    _store.setEditorDarkMode(!isDarkMode.value)
    //   store.editor.settings.darkMode = !store.editor.settings.darkMode
    //setEditorSettingsDarkMode(!getEditorSettingsDarkMode())
}



const isDarkMode = computed(_store.getEditorDarkMode)


var changeStatus = ref("") as Ref<"" | "editing" | "done" | "executing">
var bounceText = ref("...")    // shows when debouncing the edits



let editStateChanged = computed(() => {
    let c = props.editState.c
    return c
})
watch(() => editStateChanged.value, () => {

    switch (props.editState.state) {

        case "start":
            changeStatus.value = "editing"; break;
        case "bounce":
            bounceText.value = bounceText.value.length > 2 ? '.' : bounceText.value += '.'; break;
        case "end":
            changeStatus.value = "done"; break;
        case "executing":
            changeStatus.value = "executing"; break;

    }
})


</script>



<template>
    <div class="bottom-bar" :class="{ dark: isDarkMode }">
        <!-- status section  edit/error/success  -->
        <span class="bar-box left-box" style="width:25px">
            <b :title="`status`">{{ isEditing() ? "✎" : hasError ? "❌" : "✔️" }}</b>
            <span>{{ { done: "", editing: bounceText, executing: "⚙️" } [changeStatus] }}</span>
        </span>

        <!-- error section -->
        <span
            class="bar-box left-box"
            v-if="hasError"
            style="max-width: 175px;overflow: hidden; text-overflow: ellipsis;"
        >
            <b
                @click="toggleShowError"
                style="cursor:pointer;"
                :class="{ 'bar-box-button': hasError }"
            >
                {{ showError ? "▲ hide error" : "⚠️ ▼" }}
                <span
                    v-if="!showError"
                    :title="store.errors[0]?.toString()"
                >{{ store.errors[0]?.toString().split("\n")[0] }}</span>
            </b>
        </span>

        <span
            :title="isDarkMode ? 'disable dark mode' : 'enable dark mode'"
            class="bar-box right-box"
            style="cursor:pointer;"
            @click="toggleDarkMode()"
        >
            <span :style="isDarkMode ? `color: transparent;  text-shadow: 0 0 0 gray;` : ``">💡</span>
        </span>
    </div>
</template>


<style scoped>
.messages {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #ffd7d7;
    z-index: 3;
    white-space: pre-wrap;
    overflow-y: scroll;
}

.messages.dark {
    background: #131313;
    color: #afafaf;
}
.messages pre {
    padding: 0px 10px 0px 10px;
    white-space: pre-wrap;
    overflow-y: visible;
}

.error-active {
    border-top: 2px solid #b04f4f;
}

.right-box {
    float: right;
    border-left: 1px solid #485548;
    bottom: 0px;
}
.left-box {
    float: left;
    border-right: 1px solid #485548;
}

.bar-box {
    display: inline-block;

    padding: 0px 5px 0px 5px;
    overflow: hidden;
}

.bar-box-button {
    background: cornsilk;
    border-radius: 3px;
    padding-right: 5px;
    padding-left: 5px;
}
.bar-box-button:hover {
    background: rgb(230, 210, 64);
    border-radius: 3px;
    padding-right: 5px;
    padding-left: 5px;
}

.file-selector.dark {
    background: #1a1818;
}

.bottom-bar {
    cursor: default;
    z-index: 3;
    display: block;
    width: 100%;
    background: #cfcfcf;
    position: absolute;
    bottom: 0px;
    height: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-sizing: border-box;
    white-space: nowrap;
    user-select: none;
}

.bottom-bar.dark {
    background: #2d2d2d;
}

.no-click {
    pointer-events: none;
    opacity: 0.7;
    cursor: progress;
}

.no-click-dark {
    pointer-events: none;
    opacity: 0.9;
    cursor: progress;
}
</style>