<script setup lang="ts">
import FileSelector from './FileSelector.vue'
import CodeMirror from '../codemirror/CodeMirror.vue'


import { debounce } from '../utils'
import { ref, computed, inject } from 'vue'

import Bar from "./Bar.vue"

import { ReplStore2 as ReplStore } from '../storeEditor'

import Messages from './Messages.vue'
const store = inject('store') as ReplStore

const onChange = debounce((code: string) => {
  store.state.activeFile.code = code
}, 250)



import { useBarBridge } from "./editor"


const { editorChangeHandler, editState } = useBarBridge(store)

let showError = ref(true)


const activeMode = computed(() => {
  // <guard for async file loading  extended>
  if(!store.state.activeFile) {
    return 
  }
  // </guard for async file loading  extended>
  const { filename } = store.state.activeFile
  return filename.endsWith('.vue') || filename.endsWith('.html')
    ? 'htmlmixed'
    : filename.endsWith('.css')
    ? 'css'
    : 'javascript'
})


</script>

<template>
  <FileSelector />
  <div class="editor-container">
    <CodeMirror @change="editorChangeHandler" :value="store.state.activeFile?.code" :mode="activeMode" :dark="store.state.editor.settings.darkMode"/>
    <Messages :show-error="showError" @toggle-show-error="showError = !showError"></Messages>
    <!-- <CodeMirror
      @change="onChange"
      :value="store.state.activeFile.code"
      :mode="activeMode"
    />
    <Message :err="store.state.errors[0]" /> -->
  </div>
  <Bar :edit-state="editState" :show-error="showError" @show-error="showError = $event"></Bar>
</template>

<style scoped>
.editor-container {
  height: calc(100% - 35px - 25px);
  /* height: calc(100% - var(--header-height)); */
  overflow: hidden;
  position: relative;
}
</style>
