<script setup lang="ts">
import { inject, computed } from 'vue';
import { ReplStore2 as ReplStore } from '../storeEditor'
const store = inject('store') as ReplStore

defineProps({ showError: { default: true } })
let emit = defineEmits(['toggleShowError'])
let hasError = computed(() => {
    return store.state.errors.length > 0
})

let isDarkMode = store.state.editor.settings.darkMode
function toggleShowError() {
    emit('toggleShowError')
}
</script>

<template>
    <div
        class="messages"
        v-if="showError && hasError"
        :class="{ 'error-active': hasError && showError, dark: isDarkMode }"
        @click="toggleShowError"
    >
        <pre class="message-pre" v-show="hasError"> ⚠️ {{ store.state.errors[0]?.toString() }}</pre>
    </div>
</template>


<style scoped>
.messages {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #ffd7d7;
    z-index: 3;
    white-space: pre-wrap;
    overflow-y: scroll;
}

.messages pre{
    padding: 0px 10px 0px 10px;
    white-space: pre-wrap;
    overflow-y: visible;
}


</style>