<template>
<component is="script" src="https://unpkg.com/netlify-auth-providers"></component>
    
    <div  class="container">


        <div class="gist-box" v-show="showGitPanel">
         
          <b v-if="gistInProgress"  class="inprogress-overlay">{{modalText}}</b>

          <div>
                 <div style="margin-top:5px;">
                     <span style="margin-right:15px;">Github Gist  </span> 
                   <button class="github-button" @click="!userToken ? requestToken() : onClearToken()" >
                      <svg style="height:1rem;margin-right:5px;vertical-align: middle;" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>GitHub icon</title><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>
                      <span style="padding-bottom:2px">{{!userToken ? 'Auth Github' : 'Logout'}}</span>
                     
                      <img :src="gistUser.avatar_url"  style="margin-left:5px;width:16px;vertical-align: middle;"/>  {{gistUser.login}}
                  </button>
                 </div>
          </div>
        
          
          <div style="margin-top:15px;padding-bottom:10px;border-bottom:1px solid #cfcfcf" v-if="userToken">
           <span style="color:#f0f0f0">Name</span> <span style="font-size: 0.7rem;color: #a2a2a2;">[required]</span> <input :placeholder="gistNamePlaceholder" v-model="gistName" style="width:100%;margin-top:5px;background: #eaeaea;
                        border: none;
                        padding: 4px;
                        border-radius: 2px;
                        box-sizing: border-box;"
                        title="gist name is required"
                        @input="validateGistName" /><br>
                        <b v-if="gistNameError" style="color:red;">{{gistNameError}}<br></b>
          <button v-if="userToken && !gistInProgress" @click="onCreateGistClick"  
              class="btn-create-gist" :class="{disabled:gistNameError}" title="create a gist from this playground">
               <svg class="btn-create-gist-icon" style="vertical-align: middle;" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#cfcfcf"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm2 16H5V5h11.17L19 7.83V19zm-7-7c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3zM6 6h9v4H6z"/></svg>
            Create Gist
          </button><br>

          </div>
        

        <published-list></published-list>
       
        <div style= "background: #2b2b2b;display: inline-block;width: 100%;padding: 5px;box-sizing: border-box;"> 
          <b v-show="getUserToken()" @click="handleSyncFromGithub" class="sync-button" title="full sync gists from github"> Sync </b>
        </div>

        </div>


    <!-- container -->
    </div>
</template>




<script setup  lang="ts">
//gist
import { ref, computed } from "vue"
import { createGistRequest, getAuthorizedUserRequest } from '../gist/GithubClient'

import { authWithGitHub } from './GithubAuth'


// load local gists 
import { addGistToStore, getUserToken,  setGithubAuthToken, getGithubUser, setGithubUserInfo, signoutUser, setLastGistId, pullFromGithub, createSfcUrlFromGistId, resetGithubUserInfo} from './GistStore'

 
import PublishedList from './PublishedList.vue'

import { exportFiles } from '../store'
import {  createNewGist } from "./loader/gistSaver"

import type {GistOwner} from './GistTypes'



const modalPublishGistMessage = "Publishing Gist ..."
const modalSyncGistMessage = "Syncing from github..."

var showGitPanel = ref(true)
var gistInProgress= ref(false)
var modalText = ref("Publishing Gist ...")

var gistUrl = ref("")
var gistNamePlaceholder = "SFC | my gist name"
var gistName = ref("")

var gistNameError = ref("")

var gistPublishedGists = ref([]) 


const gistUser = computed(()=>getGithubUser())
const userToken = computed(()=> getUserToken())


function showModal(message:string ){
  modalText.value = message 
  gistInProgress.value = true
}
function closeModal(){
  gistInProgress.value= false
}

async function handleSyncFromGithub(){
  var answerPull = confirm("Are you sure you want to perform a full sync?\n\n" +  
  "This action, will pull all gist competible with the playground and update the local storage.\n")
  if (answerPull){
    showModal(modalSyncGistMessage)
    await pullFromGithub()
    closeModal()
  }
}


async function copyGistUrl() {
   await navigator.clipboard.writeText(gistUrl.value)
   alert("Sharable Gist URL has been copied to clipboard")
}

async function requestToken(){
  var authUserResult = await authWithGitHub()

  console.log("requestToken Header", authUserResult)

    setGithubAuthToken(authUserResult.token)
     var authorizedUserResult =  await getAuthorizedUserRequest()

     if(authorizedUserResult) {

        setGithubUserInfo(authorizedUserResult.login, authUserResult.token, authorizedUserResult.avatar_url,  authorizedUserResult.id )
     } else {
       // no token, clear user info
       resetGithubUserInfo()
     }
     
}

function onClearToken(){
  signoutUser()
}


function validateGistName(){
    if(gistName.value == "") {
    gistNameError.value = "name can not be empty"
    return false
  } else {
    gistNameError.value = ""
  }
   return true
}

async function onCreateGistClick(){
  
  if(!validateGistName()){
    return 
  }

  showModal(modalPublishGistMessage)
  var  files = exportFiles()
  
  try {
    
    var createGistResult = await createNewGist(userToken.value,files,gistName.value)

  } catch (createGistError){
 
    if(createGistError.message == "Bad credentials"){
      alert("Github Bad credentials error. \nToken expired - try again")
      onClearToken() // trigger logout action
    } else if(createGistError.message == "Validation Failed"){
      alert("Github Validation Failed\n - check that there are no empty files.")
    } else {
      throw createGistError
    }
  
    gistInProgress.value = false
    return 
  }
  
  if(createGistResult){
    let gistId = createGistResult.id
    
  

    let owner : GistOwner = (({login, id, avatar_url}) => {
      return  {login, id, avatar_url}
    })(createGistResult.owner) 

    
    
    gistUrl.value = createSfcUrlFromGistId(gistId, owner.login! ) 
    
    setLastGistId(gistId)
  
    addGistToStore( {
        url: gistUrl.value,
        name: gistName.value ,
        id: gistId ,
        owner: owner,
        created_at : createGistResult.created_at
        } )

  }
  gistName.value = ""
  
  closeModal()

}


</script>












 

<style scoped>
.container {
    position:absolute;
    top:40px;
    right:0px;    
    width:360px;
    max-height:600px;
    display:inline-block;
    border-top: 5px solid rgb(29, 51, 74) ;
    min-height: 350px;
}

.gist-box {
  box-sizing: border-box;
  display: inline-block;
  width: 95%;
  min-height: 410px;
  margin-top: 5px;
  color: #7d7d7d;
  padding: 10px;
  text-align: left;
  cursor: default;
  background: #151617;
  display: inline-block;
  padding: 15px;
  border-radius: 5px 5px 0px 0px;
  -webkit-box-shadow: 1px 3px 8px 0px rgba(0,0,0,0.6); 
  box-shadow: 1px 3px 8px 0px rgba(0,0,0,0.6);
  overflow-y: auto;
  max-height: calc( 87vh - 60px ) ;
}



/* gist */  



.gist {
  color:white;
}

.btn-create-gist {
  border: 1px solid gray;
  background: rgb(96, 96, 96) none repeat scroll 0% 0%;
  margin-top: 15px;
  color: rgb(187, 187, 187);
  font-size: 1rem;
  text-align: left;
  cursor: pointer;

}

.btn-create-gist:hover{
  background:black;
}
.btn-create-gist:hover  .btn-create-gist-icon {
  transform: rotate(5deg);
  background:rgb(37, 160, 113);
}
.btn-create-gist.disabled {
  cursor:not-allowed;
}


.github-button{
  background:#fff;
}
.github-button:hover {
background:#cfcf;
}

.sync-button {
  cursor: pointer;
  font-size:10px;border:1px solid #c4c4c4;padding:2px;
}
.sync-button:hover {
  background:#fff;
  color:black;
}

.inprogress-overlay { 
  display: inline-block;
  width: 100%;
  background: #61899dd1;
  position: absolute;
  z-index: 10;
  height: calc( 100% - 19px );
  left: 0px;
  top: 19px;
  color: white;
  font-size: 30px;
  text-align: center;
}
</style>