<template>
  <div
    v-if="hasItems"
    style="
      min-height: 50px;
      padding: 0px;
      padding-bottom: 10px;
      overflow-y: auto;
      overflow-x: hidden;
      margin-top: 15px;
      color: yellow;
    "
  >
    <b style="color: #fff; cursor: unset; margin-bottom: 5px; display: block"
      >my gists ( {{ gistStore.gists.length }} ) </b>

    <div v-show="gistStore.gists.length > 3" class="filter-box">
      Find :
      <input v-model="searchTerm" class="search-input" placeholder="filter" title="search" @keydown.esc="searchTerm=''" />
      <b title="clear filter"
        class="clear-searchTerm-button"
        v-show="searchTerm.length > 0"
        @click="searchTerm = ''"
        >X</b>

         <b>{{allItems.length == gistStore.gists.length ? "" : `(${allItems.length}/${gistStore.gists.length})`}}</b> 
    
    </div>
    <div
      v-if="allItems.length == 0 && gistStore.gists.length > 0"
      style="background: #481919; padding: 5px; margin-top: 10px"
    >
      <span style="color: #cfcfcf">no result for: </span>
      <span style="word-wrap: anywhere">{{ searchTerm }}</span>
    </div>

    <!-- published list -->
    <div class="items-container">
      <template v-for="item in allItems" :key="item.id">
        <div class="item" :class="{ new: getLastGistId() == item.id }">
          <b v-if="getLastGistId() == item.id" class="new-tag"> new </b>

          <span class="item-name">{{ item.name }}</span>
          <div>
            <span @click="copyGistUrl(item.url)" class="shareLink">
              <ShareIcon  fill="#00417c" style="vertical-align: text-bottom"></ShareIcon>Share
            </span>

            <span
              ><input
                @click="$event.target.select()"
                class="url-input"
                v-model="item.url"
            /></span>

            <div
              v-if="
                githubUser.login &&
                item.url.includes('owner=' + githubUser.login)
              "
              class="item-actions"
            >
              yours
              <img
                :title="item.owner.login"
                :src="item.owner.avatar_url"
                style="
                  width: 16px;
                  vertical-align: middle;
                  margin-right: 8px;
                  border-right: 1px solid #8a8a8a;
                  padding-right: 8px;
                "
              />
              <b
                title="delete gist"
                @click="deleteGist(item.id)"
                class="delete-button"
                >X Delete</b
              >
              <button class="patch-button" @click="onPatchClick(item.id)">
                <svg
                  style="height: 1rem; vertical-align: middle"
                  xmlns="http://www.w3.org/2000/svg"
                  enable-background="new 0 0 24 24"
                  height="24px"
                  viewBox="0 0 24 24"
                  fill="#000000"
                >
                  <g>
                    <rect fill="none" height="24" width="24" />
                    <path
                      d="M12,20c-4.41,0-8-3.59-8-8s3.59-8,8-8s8,3.59,8,8S16.41,20,12,20 M12,22c5.52,0,10-4.48,10-10c0-5.52-4.48-10-10-10 C6.48,2,2,6.48,2,12C2,17.52,6.48,22,12,22L12,22z M11,12l0,4h2l0-4h3l-4-4l-4,4H11z"
                    />
                  </g>
                </svg>
                patch
              </button>
            </div>
            <div v-else style="color: #424242; margin: 5px 0px 5px 0px">
              by
              <img
                :title="item.owner.login"
                :src="item.owner.avatar_url"
                style="width: 16px; vertical-align: middle; margin-right: 5px"
              /><span>{{ item.owner.login }}</span>
            </div>
          </div>
        </div>
      </template>
    </div>
    <!-- / published list -->
  </div>
</template>


<script setup  lang="ts" >
import { computed, ref } from 'vue'
import { patchGistWithConfirm } from './loader/gistSaver'

import {
  deleteGist as deleteGistStore,
  getLastGistId,
  gistStore,
  getGithubUser,
} from './GistStore'

import ShareIcon from './ShareIcon.vue'
import type { GistOwner } from './GistTypes'
import { loadGist } from './loader/gistLoader'
import { exportFiles } from '../store'

const githubUser = computed(getGithubUser)

const hasItems = computed(() => gistStore.gists.length > 0)

const ItemsContainer: Ref<HTMLElement> = ref(document.body)

const allItems = computed(() => {
  var items = [...gistStore.gists]

  if (searchTerm.value.length > 0) {
    items = items.filter((v) => {
      return v.name.toLowerCase().includes(searchTerm.value.toLowerCase()) || v.id == getLastGistId()
    })
  }

  var items = items.reverse()
  return items
})

var searchTerm = ref('')

function isGistOwner(gistOwner: GistOwner) {
  return githubUser.value.login == gistOwner.login
}

async function copyGistUrl(url: string) {
  await navigator.clipboard.writeText(url)
  alert('Sharable Gist URL has been copied to clipboard')
}

async function deleteGist(gist_id) {
  var deleted = await deleteGistStore(null, gist_id)
}

function onPatchClick(gist_id: string) {
  var files = exportFiles()
  patchGistWithConfirm(null, gist_id, files)
}
</script>


<style scoped>
.item {
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
  background: #bdbdbd;
  border-radius: 3px 3px 0px 0px;
  padding: 3px;
  box-sizing: border-box;
  color: #0d0a0a;
  margin-top: 10px;

  transition: background-color 2s;
}

.item.new {
  background: #ececec;
  position: relative;
  padding-top: 5px;
  transition: background-color 2s;
}

.url-input {
  box-sizing: border-box;
  margin-top: 5px;
  width: 100%;
  font-size: 10px;
}

.item-name {
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
  background: #a4a4a4;
  border-radius: 3px 3px 0px 0px;
  padding: 3px;
  box-sizing: border-box;
  color: #000;
}

.new-tag {
  position: absolute;
  top: 6px;
  color: #fff;
  right: 5px;
  background: #171717;
  padding: 2px;
  border-radius: 5px;
}

.shareLink {
  display: inline-block;
  cursor: pointer;
  color: #182ea8;
  margin-top: 5px;
}

.shareLink:hover {
  color: #102bc2;
  cursor: pointer;
  transform: scaleX(110%) scaleY(110%);
}

.items-container {
  min-height: 80px;
  max-height: 275px;
  overflow: auto;
  resize: vertical;
  scrollbar-width: thin;
  margin-top: 0px;
}

.filter-box {
  display: block;
  width: 100%;
  background: gray;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000;
  padding-left: 5px;

  border-bottom: 4px solid #000;
  box-shadow: 0px 8px 9px -1px rgba(57, 57, 57, 0.95);
  z-index: 4;
  position: relative;
}

.delete-button {
  display: inline-block;
  background: #975d5d;
  padding: 2px;
  color: #cfcfcf;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
  cursor: pointer;

  width: 10px;
  white-space: nowrap;
  overflow: hidden;
  overflow-y: clip;
  vertical-align: middle;
}
.delete-button:hover {
  background: #860000;
  transform: scaleX(110%) scaleY(110%);
  width: unset;
}
.patch-button {
  display: inline-block;
  background: #c1af8c;
  padding: 2px;
  border-radius: 5px;
  font-size: 12px;
}
.patch-button:hover {
  background: #245b37;
  color: #fff;
  transform: scaleX(110%) scaleY(110%);
  width: unset;
}

.item-actions {
  background: #dbdbdb;
  padding: 3px;
  margin-top: 15px;
}

.search-input {
  width: 100px;
  background: #313131;
  border: 1px solid transparent;
  margin-left: 1px;
  color: #fff;
}

.search-input:focus {
  background: #4e4e4e;
}

.clear-searchTerm-button {
  border-radius: 50%;
  background: rgb(111, 96, 96) none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  width: 15px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin: 0px 5px 0px 5px;;
}
.clear-searchTerm-button:hover {
  background: rgb(44, 54, 54);
}
</style>