<template>
  <div class="editor" ref="el"></div>
</template>

<script setup lang="ts">
import { ref, onMounted, watchEffect, inject } from 'vue'
import { debounce } from '../utils'
import CodeMirror from './codemirror'

const darkModeTheme = 'tomorrow-night-bright'

interface Props {
  mode?: string
  value?: string
  readonly?: boolean

  // extended
  dark?:boolean
  renderAll?: boolean
  // extended
}



const props = withDefaults(defineProps<Props>(), {
  mode: 'htmlmixed',
  value: '',
  readonly: false
})

const emit = defineEmits<(e: 'change', value: string) => void>()

const el = ref()
const needAutoResize = inject('autoresize')

onMounted(() => {
  const addonOptions = {
    autoCloseBrackets: true,
    autoCloseTags: true,
    foldGutter: true,
    gutters: ['CodeMirror-linenumbers', 'CodeMirror-foldgutter']
  }

  const editor = CodeMirror(el.value!, {
    value: '',
    mode: props.mode,
    readOnly: props.readonly,
    tabSize: 2,
    lineWrapping: true,
    lineNumbers: true,
    ...addonOptions,

    viewportMargin: props.renderAll ? Infinity : 0 , // allow  browser search to work on entire document.
    theme: props.dark ? darkModeTheme : 'default',

  })

let effectChange = false
  editor.on('change', () => {
    if(effectChange){
      effectChange = false 
      return
    }

    emit('change', editor.getValue())
  })

  watchEffect(() => {

    const cur = editor.getValue()
    if (props.value !== cur) {
      editor.setValue(props.value)
    }

  })

  watchEffect(() => {
    editor.setOption('mode', props.mode)
  })


  watchEffect(() => {
    editor.setOption('theme', props.dark ? darkModeTheme : 'default')
  })



  setTimeout(() => {
    editor.refresh()
  }, 50)

  if (needAutoResize) {
    window.addEventListener(
      'resize',
      debounce(() => {
        editor.refresh()
      })
    )
  }
})
</script>

<style>
.editor {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.CodeMirror {
  font-family: var(--font-code);
  line-height: 1.5;
  height: 100%;
}
</style>
